<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.ClasseToCourseMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.ClasseToCourse">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="classeId" column="classe_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classe_id,course_id
    </sql>
</mapper>
