<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.CourseToProfessionMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.CourseToProfession">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
        <result property="professionId" column="profession_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,profession_id
    </sql>


    <select id="getConnectionCount" resultType="int">
        SELECT COUNT(*) FROM course_to_profession WHERE  course_id = #{courseId}
    </select>

</mapper>
