<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.Course">
        <id property="courseId" column="course_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_id,name,description,
        icon,manager_id
    </sql>
</mapper>
