<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.ExperimentMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.Experiment">
        <id property="experimentId" column="experiment_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        experiment_id,name,course_id
    </sql>

    <select id="selectFileByExperimentIdAndResourceType" resultMap="com.tempsfteam.class_tool.mapper.FileMapper.BaseResultMap">
        SELECT
            f.file_id, f.resource_type, f.experiment_id,
            f.file_type, f.file_name
        FROM file f
        WHERE experiment_id = #{experimentId} AND resource_type = #{resourceType}
    </select>

    <select id="selectExperimentByUserIdAndExperimentId" resultMap="BaseResultMap">
        SELECT *
        FROM (SELECT * FROM user_to_course WHERE user_id = #{userId}) utc
                 JOIN experiment e
                      ON utc.course_id = e.course_id
        WHERE e.experiment_id = #{experimentId}
    </select>
    <select id="selectExperimentInfo" resultType="com.tempsfteam.class_tool.vo.ExperimentInfoVO">
        SELECT e.*, c.name as courseName, c.description as course_description,
               c.icon as course_icon
        FROM experiment e
                 JOIN course c
                      ON e.experiment_id = #{experimentId} AND e.course_id = c.course_id
    </select>

</mapper>
