<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.File">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="fileType" column="file_type" jdbcType="INTEGER"/>
        <result property="resourceType" column="resource_type" jdbcType="INTEGER"/>
        <result property="experimentId" column="experiment_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_type,
        resource_type,experiment_id
    </sql>


    <select id="selectFileByUserIdAndFileName" resultMap="BaseResultMap">
        SELECT *
        FROM (SELECT * FROM user_to_course WHERE user_id = #{userId}) utc
                 JOIN experiment e
                      ON utc.course_id = e.course_id
                 JOIN file f
                      ON e.experiment_id = f.experiment_id
        where f.file_name = #{fileName}
    </select>

    <select id="selectOneByFileNameFiles" resultMap="BaseResultMap">
        SELECT *
        FROM file
        WHERE file_name = #{fileName} Limit 1
    </select>
</mapper>
