<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.SchoolMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.School">
        <id property="schoolId" column="school_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        school_id,name
    </sql>


    <!-- 获取符合条件的学校 -->
    <select id="getSchoolByCondition" resultType="com.tempsfteam.class_tool.entity.School">
        SELECT s.*
        FROM school s
        <where>
            <if test="searchStr!= null and searchStr!= ''">
                s.name LIKE CONCAT('%', #{searchStr}, '%')
            </if>
        </where>
    </select>
</mapper>
