<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempsfteam.class_tool.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tempsfteam.class_tool.entity.User">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
        <result property="classId" column="class_id" jdbcType="INTEGER"/>
        <result property="schoolId" column="school_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,name,avatar,
        password,create_time,phone,
        email,role,classId,schoolId
    </sql>
    <select id="getAllUserByRole" resultType="com.tempsfteam.class_tool.entity.User">
        select user_id,name,avatar,
               phone,email,role,class_id,school_id
        from user
        where role = #{role}
    </select>
</mapper>
