<configuration>
    <!-- 正常日志输出到文件，使用滚动策略 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/cloud_classroom/cloud_classroom_logs/info/application.log</file> <!-- 日志文件路径 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/cloud_classroom/cloud_classroom_logs/info/application-%d{yyyy-MM-dd}.log</fileNamePattern> <!-- 文件名模式 -->
            <maxHistory>15</maxHistory> <!-- 保留最近15天的日志 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 异常日志输出到另一个文件，使用滚动策略 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/cloud_classroom/cloud_classroom_logs/error/error.log</file> <!-- 异常日志文件路径 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/cloud_classroom/cloud_classroom_logs/error/error-%d{yyyy-MM-dd}.log</fileNamePattern> <!-- 文件名模式 -->
            <maxHistory>15</maxHistory> <!-- 保留最近15天的日志 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志级别配置 -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <!-- 记录ERROR级别的日志到 ERROR_FILE -->
    <logger name="com.rdc.error" level="ERROR">
        <appender-ref ref="ERROR_FILE" />
    </logger>

    <!-- 记录INFO级别的日志到 FILE -->
    <logger name="com.rdc.info" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
</configuration>
